Language: Cpp
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
AlignConsecutiveAssignments: true
AlignArrayOfStructures: Left
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AlwaysBreakBeforeMultilineStrings: false
